{#
/**
 * @file
 *
 * Default template for the wizard form.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * @ingroup themeable
 */
#}
<div class="commerce__wizard--intro">

    <h1>{{ intro_title }}</h1>
    <p>{{ intro_text }}</p>

    {% trans %}
    <ol>
        <li>
            <strong>Add store details</strong><br/>
            Enter a name for your store, and an email to receive notifications from it.
        </li>
        <li>
            <strong>Enter the stores location</strong><br/>
            Add the store physical address, or choose one closest to its' location.
        </li>
        <li>
            <strong>Confirm the stores primary currency </strong><br/>
            We’ll try to determine your stores currency based on the location you've entered.
        </li>
        <li>
            <strong>Confirm the stores primary tax rate(s)</strong><br/>
            We’ll try to determine your stores tax rate(s) based on the location you’ve entered.
        </li>
        <li>
            <strong>Place your cart block in a region</strong><br/>
            Next, choose where your customers will see the number of items they've added to their cart on your site.
        </li>
        <li>
            <strong>Add a payment processor</strong><br/>
            Start accepting payments by choosing from over 30 supported payment processors.
        </li>
    </ol>

    <div class="form-actions">
        <a href="wizard/install" class="button button--primary">Begin Setup</a>
        <a href="#" class="button button--danger">No, thanks</a>
    </div>

    {% endtrans %}

</div>
